@model DishItemModel

<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div>
                    <strong>@Model.Dish.DishName</strong>
                </div>
                <div class="text-primary">
                    £@String.Format("{0:0.00}", Model.Dish.Price)
                </div>
            </div>
            <div class="col-6">
                <form asp-action="AddToOrder" method="post" class="row">
                    <input asp-for="@Model.Dish.DishId" hidden />
                    <input asp-for="@Model.Dish.DishName" hidden />
                    <input asp-for="@Model.Dish.Price" hidden />
                    <input asp-for="@Model.RestaurantId" hidden />
                    <div class="col">
                        <input asp-for="@Model.Quantity" class="form-control item-quantity-input" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary add-to-order-button" disabled>Add</button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</div>